binds {
    Super+T hotkey-overlay-title="Open Ghostty" { spawn "ghostty"; }
    Super+Return hotkey-overlay-title="Open Kitty" { spawn "kitty"; }
    Super+Shift+T { spawn "ghostty"; }
    Super+D hotkey-overlay-title="Open Application Launcher" { spawn-sh "$HOME/.local/bin/wm-app-launcher"; }
    Super+L allow-inhibiting=false hotkey-overlay-title="Lock Screen" { spawn "hyprlock"; }
    Super+E { spawn "thunar"; }
    Super+W { spawn "zen-browser"; }
    Super+O { spawn "obsidian"; }
    Super+Z { spawn "zeditor"; }
    Super+C { spawn-sh "zeditor ~/.config/"; }
    Super+Shift+Z { spawn-sh "zeditor ~/.zshrc"; }
    Super+V { spawn-sh "$HOME/.local/bin/wm-clipboard-menu"; }

    Super+R { spawn-sh "foot --app-id=float-term --config=$HOME/.config/foot/float-term.ini -e zsh -lc '$HOME/.local/bin/wm-recent-projects editor'"; }
    Super+Shift+R { spawn-sh "foot --app-id=float-term --config=$HOME/.config/foot/float-term.ini -e $SHELL -lc 'source ~/.zshrc && $HOME/.local/bin/wm-recent-projects fm'"; }

    Super+Tab { focus-workspace "terminal"; }
    F4 { focus-workspace "htop"; }
    Super+Ctrl+S { focus-workspace "htop"; }
    Super+Ctrl+Shift+S { move-column-to-workspace "htop"; }
    Super+Slash { focus-workspace "cheatsheet"; }

    Super+Ctrl+C { spawn-sh "$HOME/.local/bin/wm-cwd-launch cursor"; }
    Super+Ctrl+F { spawn-sh "$HOME/.local/bin/wm-cwd-launch thunar"; }
    Super+Ctrl+R { spawn-sh "$HOME/.local/bin/wm-cwd-launch rstudio"; }
    Super+Ctrl+T { spawn-sh "$HOME/.local/bin/wm-cwd-launch terminal"; }
}
