layout {
    gaps 6
    default-column-display "normal"
    default-column-width { proportion 0.5; }
    center-focused-column "on-overflow"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
}
